footer.gaia-footer p {
	text-align:left;
}

#tuner {
	display: table;
	margin: auto;
	width: auto;
	height: 100%;
}
	#tuner>p {
		font-size: 40vmin;
		display: table-cell;
		text-align: right;
		vertical-align: middle;
		width: 33%;
	}
	#tuner>p+p {
		text-align: center;
	}
	#tuner>p+p+p {
		text-align: left;
	}
.clocks {
    height: 450px;
    margin: 25px auto;
    position: relative;
    width: 500px;
}
