/* || basic set up + sizing for containers */

html, body {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: 'Pathway Gothic One', sans-serif;
  background-color: white;
}

body {
  width: 100%;
  height: inherit;
}

#tuner {
	display: table;
	margin: auto;
	width: auto;
}
	#tuner>p {
		font-size: 20vw;
		display: table-cell;
		text-align: right;
		vertical-align: middle;
		width: 33%;
	}
	#tuner>p+p {
		text-align: center;
	}
	#tuner>p+p+p {
		text-align: left;
	}

button {
	font-size: 5vw;
}
